@use '../variables';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    &--primary {
        color: #fff;
        background-color: variables.$purple;
    }

    /* Primeiro, defina regras para telas um pouco maiores */
    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }

    /* Depois, regras para telas menores */
    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }
}
